<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>page1</title>
</head>
<body>
<center>
<h1>
    Здравствуй, друг мой
</h1>
<p>
    Итак, ты оказался на этой странице, потому что решил пройти <strong>Ультратяжелое</strong> испытание.
</p>


<p>
    Для того, чтобы начать, нажми кнопку "Начать испытание".
</p>

<a href="{{ url_for('chall1') }}">
    <button onclick=”chalbeg();”>Начать испытание!!</button>
</a>
</center>
</body>
</html>
